
<h1>Личный кабинет</h1>
<hr>
<h3></h3>
<div class="row-fluid" id="users_content">

    <div class="controls controls-row">
        <div class="span3">
            <div class="control-group">
                <img style="border-radius: 5px; box-s hadow: 0 0 10px rgba(0,0,0,0.5);" src="./img/empty.jpg">
            </div>
            <i class="icon-edit"></i><a href="{{  url('user/table',{'action':'edit','id_table':22,'id':user.id}) }}">Редактировать</a>
        </div>

        <div class="span6">
            <div >
                <ul>
                    <li>Кафедра:
                        {#<?php if($user->name_kaf != ''): ?>#}
                        {#<?php echo $user->name_kaf;?> </li>#}
                        {#<?php else: ?>#}
                        {#<a ajax-href="<?php echo $this->url("user",array("controller"=>"user","action"=>"appendinkaf")); ?>" href="#" modal="true" content="body"><i class="icon-plus"></i> Добавить кафедру</a>#}
                        {#<?php endif; ?>#}
                        {% if user.kafedra %}
                            <a href="#"><i class="icon-plus"></i> Добавить кафедру</a>
                        {% else %}
                            {{ user.kafedra.name_kaf }}
                        {% endif %}
                    </li>

                    {% for form_user in data %}
                        <li> {{ data.cap }} : {{ data.cell }}</li>
                    {% endfor %}
                    {#<?php foreach($form_user as $data): ;?>#}
                    {#<li><?php echo $data->get('cap') .' : '. $user->get($data->get('cell')); ?>  </li>#}
                    {#<?php endforeach; ?>#}

                </ul>

            </div>
        </div>

    </div>
    <hr>
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#status">
                    <p>Статус работы: <?php echo $status; ?></p>
                </a>
            </div>

            <div id="status" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="well">
                        <p>После нажатия этой кнопки на кафедру поступит информация о том что вы закончили заполнение.
                            В случае ошибок или недочётов в заполнении Вам на почтовый ящик придёт извещение о необходимости доработки.
                            После  внесения поправок необходимо снова нажать на эту кнопку</p>
                        <hr>
                        <form method="post">
                            <button type="submit" class="btn btn-success">Завершить заполнение</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <div class="row-fluid">


    </div>
</div>

